transition(duracion, delay)
    -webkit-transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
    transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
    -webkit-transition-delay delay ease-in-out
    transition-delay delay ease-in-out

mobile766 = 'only screen and (max-width: 766px)'
mobile410 = 'only screen and (max-width: 414px)'

*
    font-family Arial

@font-face
    font-family Book
    font-weight 400
    src url(/assets/fonts/BookAntiqua.ttf)

.home-pelicula
    display flex
    flex-direction row
    width 100%
    height 100%
    background-color transparent
    .home-pelicula-content
        width 100%
        display grid
        grid-template-columns 100% //indica que es de una columna de 100% de anccho
        grid-template-rows 0.5fr 1fr 1fr //indica qie son 3 filas
        margin 5px 5px 5px 5px
        color white
        .titulo-top, .titulo-medium
            display flex
            justify-content center
            align-content center
        .titulo-top
            .titulo
                display flex
                flex-direction column
                justify-content center
                align-items center
                height 100%
                h3
                    font-size 34px
                    height 20px
        .titulo-medium
            .titulo
                display flex
                flex-direction column
                justify-content center
                align-items center
                height 100%
                .title
                    position relative
                    h1
                        font-family: Book
                        @media mobile766
                            font-size 20px
                        font-size 100px
                        height 10px
                    p
                        font-size 54px
                    img
                        position relative
                        margin 5px 0
                    .line-content
                        width 100%

                .empezar
                    cursor pointer
                    position relative
                    @media mobile766
                        margin-top 35px
                    h3
                        @media mobile766
                            font-size 20px
                        font-size 50px
                        height 10px
                    .line
                        width 0
                    &:hover
                        .line
                            width 100%
        .accesos
            display flex
            flex-direction row
            @media mobile766
                flex-direction column
            justify-content center
            align-content center
            width 100%
            margin-top 10px
            .galeria, .historia
                display flex
                flex 1
                margin 10px 50px 10px 50px
                .aceesito
                    cursor pointer
                    display flex
                    justify-content center
                    align-content center
                    width 250px
                    height 150px
                    background-color gray
                    background-position center center
                    background-repeat no-repeat
                    background-size cover
                    h2
                        height 0px
                        font-size 24px
                        text-shadow: -5px -5px 5px #aaa;
                    .line-white
                        position absolute
                        background-color white
                        width 200px
                        height 1px
            .galeria
                justify-content flex-start
            .historia
                justify-content flex-end

.line
    @media mobile766
        font-size 331px
    background-color white
    position absolute
    width 250px
    transition(500ms, 0)
    height 1px
    &#lineLeft
        left 0px
    &#lineRight
        right 0px
