.home-pelicula
    .home-pelicula-content
        .titulo-top
            .titulo
                h3 Veracruz
                h3 1880
        .titulo-medium
            .titulo
                .title
                    .line-content
                        .line#lineLeft
                    img(src="assets/images/laleyendadelacondesadelacasona-01.png")
                    .line-content
                        .line#lineRight
                
                    //- h1 {{pelicula?.getNombre()}}
                .empezar((click)="verPelicula()")
                    h3 Empezar Película
                    .line
                    
        .accesos
            .galeria((click)="verGaleria()")
                .aceesito([style.backgroundImage]="pelicula && (pelicula.getPortadas()) ? makeTrustedImage(pelicula.getPortadas()[0].imagen) : null")
                    div(class="line-white" id="line1")
                    h2 Galería
            .historia((click)="conocerLeyenda()")
                .aceesito([style.backgroundImage]="pelicula && (pelicula.getPortadas()) ? makeTrustedImage(pelicula.getPortadas()[1].imagen) : null")
                    div(class="line-white" id="line2")
                    h2 Conoce La LAYENDA
