ngx-loading([show]="!imagen" [config]="{ backdropBorderRadius: '14px' }")
.puntos
.img([style.background-image]="getImage(imagen.imagen)" *ngIf="imagen")
//- 
//- img(*ngIf="imagen" src="{{imagen.imagen}}")
