// .input-layout
//     width: 100%;
//     flex: 1 1 auto;
mobile = '@media only screen and (max-width: 1250px)'

funcion1()
    -webkit-transition all 0.30s ease-in-out
    -moz-transition all 0.30s ease-in-out
    -ms-transition all 0.30s ease-in-out
    -o-transition all 0.30s ease-in-out
    outline none
    box-sizing border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing border-box
    width 100%
    background #fff
    margin-bottom 2%
    border 1px solid #ccc
    padding 2%
    color #555
    font 20px Arial, Helvetica, sans-serif

funcion2()
    box-shadow 0 0 5px #78909C
    padding 3%
    border 1px solid #78909C



.login
    display flex
    flex-direction column
    width 100%
    min-height 100%
    background-image url("assets/images/condesa_web_inicio_sesion.png")
    background-position center center
    background-repeat no-repeat
    background-size cover
    .titulo
        display flex
        flex-direction row
        justify-content flex-start
        align-content center
        h1
            color white
            font-size: 64px
            margin 20px 20px 20px 20px
    .formulas
        display flex
        width 100%
        height 100%
        flex-direction row
        .fantasma
            @media only screen and (max-width: 1250px)
                flex 0.5
            @media only screen and (max-width: 1104px)
                display none
            margin 20px 20px 20px 20px
            flex 0.5
        .form
            flex 1
            margin 20px 20px 20px 20px
            mat-tab-group
                @media only screen and (max-width: 1250px)
                    width 90%
                width 80%
        .formulario
            display flex
            flex-direction column
            justify-content center
            font 20px Arial, Helvetica, sans-serif
            max-width 100%
            margin 10px auto
            padding 16px
            background-color transparent
            label
                color #616161
                font-size 24px
            .contenido
                width 100%
            .contenido input[type="text"],
            .contenido input[type="password"]
                funcion1()
            .contenido input[type="text"]:focus,
            .contenido input[type="password"]:focus
                funcion2()                
            .social-botones
                display flex
                flex-direction row
                width 100%
                margin 10px 0px 10px 0px
                .botones
                    display flex
                    flex-direction column
                    height 100%
                    flex 1
                    margin 10px 10px 10px 10px 
                    button
                        display flex
                        justify-content center
                        width 100%
                        height 100%
                        span
                            font-size 24px
                            margin 10px 10px 10px 10px 
                .fb
                    -moz-user-select none
                    background black
                    display flex
                    justify-content center
                    align-items center
                    margin 10px 10px 10px 10px 
                    border 1px solid black
                    height auto
                    color white
                    padding 3px 5px
                    text-shadow 0 -1px 0 gray
                    font 24px Verdana, sans-serif
                    flex 1
                    img
                        width 24px
                        height 24px
                        margin 10px 10px 10px 10px

.mat-tab-label
    color white