
.ver-video
    .ver-video-content
        .info 
            .detalles(*ngIf="pelicula")
                .bienvenido
                    h3 Bienvenido
                    p {{pelicula?.getHistoria()}}
                .vermas
                    h2 Material extra
                    .button
                        a(mat-raised-button color="primary" (click)="pausa = !pausa").verpeli Reparto
                    .button
                        a(mat-raised-button color="primary" (click)="eventClick(3)").verpeli Producción
                    .button
                        a(mat-raised-button color="primary" (click)="eventClick(3)").verpeli Historia                                                

            .embed-container
                videojs(*ngIf="pelicula" [url]="URL()" [reparto]="pelicula?.getReparto()" [autoplay]="pausa" [parar]="pausa")