
.ver-video
    .ver-video-content
        .info 
            .detalles(*ngIf="pelicula")
                .bienvenido
                    h3 Bienvenido
                    p {{pelicula?.getHistoria()}}
                .vermas
                    h2 Material extra
                    .button
                        a(mat-raised-button color="primary" (click)="eventClick(2)").verpeli Historia
                    .button
                        a(mat-raised-button color="primary" (click)="eventClick(4)").verpeli Producción
                    .button
                        a(mat-raised-button color="primary" (click)="eventClick(3)").verpeli Reparto                                                

            .embed-container
                iframe(*ngIf="pelicula.getVideo()" [src]="URL()" width="500" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)