
.ver-video
    .ver-video-content
        .info 
            .detalles(*ngIf="pelicula")
                .bienvenido
                    h3 Bienvenido
                    p {{pelicula?.getHistoria()}}
                .vermas
                    h2 Material extra
                    .button
                        a(mat-raised-button color="primary" (click)="pausa = !pausa; repartoOrProduccion = true").verpeli Reparto
                    .button
                        a(mat-raised-button color="primary" (click)="pausa = !pausa; repartoOrProduccion = false").verpeli Producción
                    .button
                        a(mat-raised-button color="primary" (click)="irHistoria()").verpeli Historia                                                

            .embed-container
                videojs(*ngIf="pelicula" [url]="URL()"
                        [reparto]="repartoOrProduccion ? pelicula?.getReparto() : null"
                        [produccion]="repartoOrProduccion ? null : pelicula?.getProduccion()"
                        [autoplay]="pausa"
                        [parar]="pausa")