mobile-1250 = '@media only screen and (max-width: 1250px)'
mobile766 = 'only screen and (max-width: 766px)'
mobile410 = 'only screen and (max-width: 414px)'

.usuario
    display flex
    width 100%
    height 100%
    justify-content center
    align-items center
    background-color black
    .usuario-content
        @media mobile410
            width 100%
        width 75%
        height 100%
        display flex
        justify-content center
        align-items center
        .mat-card
            @media mobile410
                width 100%
            width 50%
            height 80%
            display grid
            background-color #616161
            grid-gap 10px         
            grid-template-columns 1fr
            grid-template-rows 1fr 1fr
            margin 10px 10px 10px 10px
            .encabezado
                display flex
                @media mobile410
                    flex-direction column
                flex-direction row
                justify-content center 
                align-items center
                .foto
                    width 255px
                    height 255px
                    margin 0px 10px 0px 10px
                    img 
                        width 100%
                        height 100%
                .nombre
                    margin 0px 10px 0px 10px
            .datos
                display flex
                flex-direction column
                justify-content center 
                align-items center
                .nombre , .correo , .edad, .genero
                    display flex
                    flex-direction row 
                    align-items center
                    justify-content center  
                    width 50%
                    .mat-form-field
                        flex 1
