mobile-1250 = '@media only screen and (max-width: 1250px)'

.home
    display flex
    width 100%
    height 100%
    justify-content center
    align-items center
    background-color black
    .home-content
        display flex
        flex-direction column
        width 100%
        height 100%
        section
            width 100%
            flex 1
            &.estrenos
                color white
                height 600px
                background-position center
                background-repeat no-repeat
                background-size cover
                .estrenos-content
                    display flex
                    flex-direction column
                    height 100%
                    margin 10px 50px 10px 50px
                    h2
                        font-size 34px
                    .titulo
                        display flex
                        flex-direction column
                        justify-content center
                        align-items center
                        height 100%
                        .title
                            h1
                                font-size 84px
                                height 10px
                            p
                                font-size 48px
                        .button
                            width 18%
                            height 10%
                            .mat-raised-button
                                width 100%
                                height 100%
                                border-radius 10px
                                display flex
                                justify-content center
                                align-content center
                                font-size 24px
                    .pie
                        display flex
                        justify-content flex-end