.home
    .home-content
        section.estrenos([style.backgroundImage]="'url('+ img +')'")
            .estrenos-content
                h2 Estreno
                .titulo
                    .title
                        div(class="line-white" id="lineLeft")
                        h1 LA LEYENDA
                        p de la condesa de Malibrán
                        div(class="line-white" id="lineRight")
                    .button
                        a(mat-raised-button (click)="verProyecto(1)").verpeli Ver pelicula
        section.cartelera
            .cartelera-content
                h2 Cartelera
                .pelis
                    button(mat-icon-button (click)="anterior()")
                        mat-icon keyboard_arrow_left
                    mat-grid-list(cols="3" rowHeight="200px" gutterSize="10px" ) 
                        mat-grid-tile(*ngFor="let peli of peliculas" [style.backgroundImage]="peli.getPortadas() ? makeTrustedImage(peli.getPortadas()[0].imagen) : null" (click)="verProyecto(peli.getId())")
                            mat-grid-tile-footer
                                p {{peli.getNombre()}}
                    button(mat-icon-button (click)="siguiente()")                      
                        mat-icon keyboard_arrow_right
        section.noticias
            .noticias-content
                h2 Ultima noticia
                .titutlo(*ngIf="noticias")
                    p {{noticias.fecha | date}}
                    h3 {{noticias?.titulo}}
                .noticia(*ngIf="noticias" [innerHTML]="noticias.descripcion | safeHtml")