
.galeria
    display flex
    flex-direction columns 
    width 100%
    height 100%
    .galeria-content
        width 100%
        height 100%
        display flex
        flex-direction column
        justify-content flex-start
        margin-left 50px
        margin-right 50px
        .titulo
            color white
            .line-white
                position absolute
                background-color white
                width 250px
                opacity 0.5
        .imagenes
            display flex
            justify-content center
            align-items center
            position relative
            width 100%
            height 100%
            mat-grid-list
                position absolute
                width 100%
                mat-grid-tile
                    img
                        height 100%
                        width 100%  