.puntos
    height 100%
    width 100%
    position absolute
    background-image url(/assets/images/point.png)
.img
    height 100%
    width 100%
    background-size cover
    background-repeat no-repeat
    background-position center
