.video-js
    position absolute
    width 100%
    height 100%
    .vjs-big-play-button
        background-color black
        opacity .6
    .vjs-play-progress
        background-color black
    .vjs-control:hover:before, .vjs-control:focus:before 
	    text-shadow 0 0 1em #f00
    .vjs-overlay
        background linear-gradient(200deg, rgba(0, 0, 0, .5) 20%, transparent)
        height 100%
        width 100% !important
    .vjs-overlay-top-left
        top 0px
        left 0px

#reparto       
    mat-grid-list
        mat-grid-tile
            img
                height 100%
                width 100%

#produccion       
    mat-grid-list
        mat-grid-tile
            img
                height 100%
                width 100%                
