video#vid1( *ngIf="url"
            class="pelicula video-js vjs-default-skin"
            controls)
    .vjs-dock-text
        h1.vjs-dock-title La condesa de malibran
        h2.vjs-dock-description Holi

#reparto
    .actores(*ngIf="reparto")
        h2 Reparto de la pelicula
        mat-grid-list(cols="5" rowHeight="1:1" gutterSize="25px")
            mat-grid-tile(class="image_wrapper"  *ngFor="let actor of reparto.getActores()" [style.backgroundImage]="makeTrustedImage(actor.getFoto()?.imagen)")
                img([src]="actor.getFoto()?.imagen")
                //- .img([style.backgroundImage]="actor.getFoto()?.imagen")
                mat-grid-tile-footer
                    p {{actor.getNombre()}}

#produccion
    .actores(*ngIf="produccion")
        h2 De trás de cámaras
        mat-grid-list(cols="5" rowHeight="1:1" gutterSize="25px")
            mat-grid-tile(class="image_wrapper"  *ngFor="let imagen of produccion?.getImagenes()")
                img([src]="imagen?.imagen")