
.editar-noticia
    .editar-noticia-content
        .titulo
            h1 {{noticia?.getTitulo()}}
            mat-slide-toggle(class="example-margin" [checked]="publico" (change)="publicarNoticia($event)" matTooltip="Publicar noticia")
            button(mat-icon-button (click)="guardarNoticia()" matTooltip="Guardar")
                    mat-icon save
        .edicion(*ngIf="noticia")
            form([formGroup]="form" (ngSubmit)="login(form)" novalidate).formulario
                mat-form-field(class="input-layout").input-layout
                    input(matInput formControlName="titlo" placeholder="Titulo de la noticia" autocomplete="off" required)
            quill-editor([(ngModel)]="editorContent"
                        [options]="editorOptions"
                        (blur)="onEditorBlured($event)"
                        (focus)="onEditorFocused($event)"
                        (ready)="onEditorCreated($event)"
                        (change)="onContentChanged($event)")
