
.noticias
    .noticias-content(*ngIf="noticias")
        .noticiaa(*ngFor="let noticia of noticias")
            .titutlo
                p {{noticia.fecha | date}}
                h3 {{noticia?.titulo}}
            .noticia(*ngIf="noticia" [innerHTML]="noticia.descripcion | safeHtml")
