form( class="contenedor" [formGroup]="form" (ngSubmit)="submit(form)" enctype="multipart/form-data" novalidate)
	mat-dialog-content.contenido
		mat-form-field(class="input-layout")
			input(matInput formControlName="nombre" placeholder="Nombre de la Pelicua" required)
		mat-form-field(class="input-layout")
			textarea(matInput  formControlName="historia" placeholder="Descripciòn" rows="10" )
		input( type="file" (change)="changeListener($event)" formControlName="video" placeholder="Nombre del proyecto" required)
		mat-error(*ngIf="form.controls.video.invalid") Selecione el archivo de la pelicula!
	mat-dialog-actions.botones
		button(mat-button type="button" (click)="cancelar()") Cancelar
			mat-icon cancel
		button(mat-button type="submit") Ok
			mat-icon done
