// .input-layout
//     width: 100%;
//     flex: 1 1 auto;
mobile = 'only screen and (max-width: 1250px)'

funcion1()
    // -webkit-transition all 0.30s ease-in-out
    // -moz-transition all 0.30s ease-in-out
    // -ms-transition all 0.30s ease-in-out
    // -o-transition all 0.30s ease-in-out
    outline none
    box-sizing border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing border-box
    width 90%
    background #fff
    margin-bottom 1%
    border 1px solid #ccc
    padding 1%
    color #555
    font 15px Arial, Helvetica, sans-serif

funcion2()
    box-shadow 0 0 5px #78909C
    border 1px solid #78909C



.login
    display flex
    flex-direction column
    width 100%
    min-height 100%
    background-image url("assets/images/condesa_web_inicio_sesion.png")
    background-position center center
    background-repeat no-repeat
    background-size cover
    .titulo
        display flex
        flex-direction row
        justify-content flex-start
        align-content center
        h1
            color white
            font-size: 64px
            margin 20px 20px 20px 20px
    .formulas
        display flex
        width 100%
        height 100%
        flex-direction row
        .form
            flex 1
            margin 20px 20px 20px 20px
            display flex
            @media mobile 
                justify-content center
                width 90%            
            justify-content flex-end
            width 100%
            height 100%
            mat-tab-group
                @media mobile
                    justify-content center
                    width 100%              
                width 60%
            .formulario
                display flex
                flex-direction column
                justify-content center
                font 20px Arial, Helvetica, sans-serif
                margin 10px auto
                padding 16px
                background-color transparent
                label
                    color #616161
                    font-size 18px
                .contenido
                    display flex
                    flex-direction column
                    width 100%
                .contenido input[type="text"],
                .contenido input[type="password"]
                    funcion1()
                .contenido input[type="text"]:focus,
                .contenido input[type="password"]:focus
                    funcion2()                
                .social-botones
                    display flex
                    flex-direction row
                    @media mobile 
                        flex-direction column                   
                    width 90%
                    margin 10px 0px 10px 0px                    
                    .botones
                        display flex
                        flex-direction column
                        height 100%
                        flex 1
                        margin 10px 10px 10px 10px
                        fo
                        button
                            display flex
                            justify-content center
                            width 100%
                            height 100%
                            span
                                font-size 18px
                                margin 10px 10px 10px 10px 
                    .fb
                        -moz-user-select none
                        background black
                        @media mobile 
                            background-color transparent                        
                        display flex
                        justify-content center
                        align-items center
                        margin 10px 10px 10px 10px 
                        border 1px solid black
                        height auto
                        color white
                        padding 3px 5px
                        text-shadow 0 -1px 0 gray
                        font 18px Verdana, sans-serif
                        flex 1
                        img
                            width 24px
                            height 24px
                            margin 10px 10px 10px 10px

.mat-tab-label
    color white